body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #ffffff;
}

.countdown-container {
    text-align: center;
}

#timer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#timer div {
    margin: 0 15px;
}

#timer span {
    font-weight: bold;
    display: block;
    font-size: 3rem;
}
/*mobile*/
@media (max-width: 600px) {
    #timer {
        flex-direction: column;
        align-items: center;
    }

    #timer div {
        margin: 5px 0;
    }

    #timer span {
        font-size: 2rem;
    }
}